        .sbdd_a {
            margin-top: -1px;
            z-index: 989
        }
        
        .sbdd_a[dir=ltr] .fl,
        .sbdd_a[dir=rtl] .fr {
            float: left
        }
        
        .sbdd_a[dir=ltr] .fr,
        .sbdd_a[dir=rtl] .fl {
            float: right
        }
        
        .sbdd_b {
            background: #fff;
            border: 1px solid #ccc;
            border-top-color: #d9d9d9;
            border-radius: 0 0 3px 3px;
            -webkit-border-radius: 0 0 3px 3px;
            box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
            -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
            cursor: default
        }
        
        .sbdd_c {
            border: 0;
            display: block;
            position: absolute;
            top: 0;
            z-index: 988
        }
        
        .sbmn_a {
            padding-top: 4px;
            padding-bottom: 1px
        }
        
        .sbmn_b {
            display: block;
            line-height: 16px
        }
        
        .sbmn_c {
            color: green;
            display: block;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis
        }
        
        .sbfl_a {
            font-size: 13px;
            padding: 10px 4px
        }
        
        .sbfl_a a.duf3 {
            float: inherit;
            font-style: normal;
            color: #2200C1
        }
        
        .sbsb_c[dir=ltr] .sbfl_a {
            right: 0
        }
        
        .sbsb_c[dir=rtl] .sbfl_a {
            left: 0
        }
        
        .sbfl_a:hover {
            color: #333;
            cursor: pointer
        }
        
        .sbfl_b {
            padding: 0 5px;
            background: rgba(255, 255, 255, .9)
        }
        
        .sbmen_a {
            color: #666;
            font-size: 11px;
            line-height: 14px
        }
        
        .sbls_a {
            color: red
        }
        
        .sbpqs_a {
            color: #52188c
        }
        
        .sbdd_a[dir=ltr] .sbpqs_a {
            padding-right: 8px
        }
        
        .sbdd_a[dir=rtl] .sbpqs_a {
            padding-left: 8px
        }
        
        .sbdd_a[dir=ltr] .sbpqs_b {
            padding-right: 3px
        }
        
        .sbdd_a[dir=rtl] .sbpqs_b {
            padding-left: 3px
        }
        
        .sbpqs_c {
            color: #666;
            line-height: 22px
        }
        
        .sbpqs_d {
            user-select: none;
            -webkit-user-select: none;
            color: #bababa;
            cursor: pointer;
            font: 27px arial, sans-serif;
            text-align: center;
            vertical-align: middle;
            width: 37px;
            flex: 0 0 37px;
            -webkit-flex: 0 0 37px;
            -moz-box-flex: 0;
            -moz-box-ordinal-group: 2;
            -webkit-order: 2;
            -webkit-box-flex: 0;
            -webkit-box-ordinal-group: 2;
            display: box;
            display: -webkit-box;
            display: -moz-box;
            display: flex;
            display: -webkit-flex;
            display: flexbox;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            align-items: center;
            z-index: 5000000
        }
        
        .sbpqs_e {
            color: #666;
            font-size: 12px;
            line-height: 14px;
            padding-top: 3px
        }
        
        .sbmsq_a {
            background: #f3f3f3 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAo0lEQVRIx+3X4QaAMBQF4L10RIwRMUZE9BB7t96gXOpfdVrtdMV+HMbY9+teOybGaDSyHxZC5gIX+BdwpTlOteYc15oLpGHB8/Y4BUew3FmAWxZMwe/CEgdwx4Kz4qmwpAV4y4Kz4E9hSQfwjgW/wt/CEg9wz4IlIRXPBSfjub+tPcADC76D9yxYMqDtxmwL49VKZVeV8Wymv+hJ09EiMVqlbQXTCZuExPleFwAAAABJRU5ErkJggg==") no-repeat center;
            -webkit-background-size: 15px, 15px;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            width: 37px;
            flex: 0 0 37px;
            -webkit-flex: 0 0 37px;
            -moz-box-flex: 0;
            -moz-box-ordinal-group: 2;
            -webkit-order: 2;
            -webkit-box-flex: 0;
            -webkit-box-ordinal-group: 2;
            z-index: 5000000
        }
        
        .sbmsq_b {
            display: flex;
            display: -webkit-flex;
            display: flexbox;
            display: box;
            display: -webkit-box;
            display: -moz-box
        }
        
        .sbmsq_c {
            flex-grow: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
            -webkit-box-ordinal-group: 1;
            -webkit-box-flex: 1;
            -webkit-user-select: none;
            word-wrap: break-word
        }
        
        .sbmsq_d {
            line-height: 30px;
            overflow: hidden
        }
        
        .sbmsq_e {
            color: #666;
            font-size: 12px;
            line-height: 14px;
            padding-top: 3px
        }
        
        .sbsb_b {
            list-style-type: none;
            margin: 0;
            padding: 0
        }
        
        .sbsb_d {
            background: #eee
        }
        
        .sbsb_e {
            height: 1px;
            background-color: #e5e5e5
        }
        
        #sbsb_f {
            font-size: 11px;
            color: #36c;
            text-decoration: none
        }
        
        #sbsb_f:hover {
            font-size: 11px;
            color: #36c;
            text-decoration: underline
        }
        
        .sbsb_g {
            text-align: center;
            padding: 8px 0 7px;
            position: relative
        }
        
        .sbsb_h {
            font-size: 15px;
            height: 28px;
            margin: 0.2em;
            -webkit-appearance: button
        }
        
        .sbsb_i {
            font-size: 13px;
            color: #36c;
            text-decoration: none;
            line-height: 100%
        }
        
        .sbsb_i:hover {
            text-decoration: underline
        }
        
        .sbsb_j {
            padding-top: 1px 0 2px 0;
            font-size: 11px
        }
        
        .sbdd_a[dir=ltr] .sbsb_j {
            padding-right: 4px;
            text-align: right
        }
        
        .sbdd_a[dir=rtl] .sbsb_j {
            padding-left: 4px;
            text-align: left
        }
        
        .sbsb_c[dir=ltr] .sbsb_k {
            padding: 10px 3px 11px 8px
        }
        
        .sbsb_c[dir=rtl] .sbsb_k {
            padding: 10px 8px 11px 3px
        }
        
        .gscp_a,
        .gscp_c,
        .gscp_d,
        .gscp_e,
        .gscp_f {
            display: inline-block;
            vertical-align: bottom
        }
        
        .gscp_f {
            border: none
        }
        
        .gscp_a {
            background: #d9e7fe;
            border: 1px solid #9cb0d8;
            cursor: default;
            outline: none;
            text-decoration: none!important;
            user-select: none;
            -webkit-user-select: none;
        }
        
        .gscp_a:hover {
            border-color: #869ec9
        }
        
        .gscp_a.gscp_b {
            background: #4787ec;
            border-color: #3967bf
        }
        
        .gscp_c {
            color: #444;
            font-size: 13px;
            font-weight: bold
        }
        
        .gscp_d {
            color: #aeb8cb;
            cursor: pointer;
            font: 21px arial, sans-serif;
            line-height: inherit;
            padding: 0 7px
        }
        
        .gscp_d {
            position: relative;
            top: 1px
        }
        
        .gscp_a:hover .gscp_d {
            color: #575b66
        }
        
        .gscp_c:hover,
        .gscp_a .gscp_d:hover {
            color: #222
        }
        
        .gscp_a.gscp_b .gscp_c,
        .gscp_a.gscp_b .gscp_d {
            color: #fff
        }
        
        .gscp_e {
            height: 100%;
            padding: 0 4px
        }
        
        .mus_il {
            font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial;
            padding-top: 7px;
            position: relative
        }
        
        .mus_il:first-child {
            padding-top: 0
        }
        
        .mus_il_at {
            margin-left: 10px
        }
        
        .mus_il_st {
            right: 52px;
            position: absolute
        }
        
        .mus_il_i {
            align: left;
            margin-right: 10px
        }
        
        .mus_it3 {
            margin-bottom: 3px;
            max-height: 24px;
            vertical-align: bottom
        }
        
        .mus_tt3 {
            color: #8A8A8A;
            font-size: 12px;
            vertical-align: top
        }
        
        .mus_tt5 {
            color: #dd4b39;
            font-size: 16px
        }
        
        .mus_tt6 {
            color: #3d9400;
            font-size: 16px
        }
        
        .mus_tt8 {
            color: #000000;
            font-size: 16px;
            font-family: Arial, sans-serif
        }
        
        .mus_tt17 {
            color: #212121;
            font-size: 20px
        }
        
        .mus_tt18 {
            color: #212121;
            font-size: 24px
        }
        
        .mus_tt19 {
            color: #8A8A8A;
            font-size: 12px
        }
        
        .mus_tt20 {
            color: #8A8A8A;
            font-size: 14px
        }
        
        .sbsb_c[dir="rtl"] .sbmsq_a {
            -webkit-transform: scaleX(-1)
        }